button {
  background-color: #1e59a6;
  border: none;
  padding: 1rem 2rem;
  color: #ffffff;
  text-transform: capitalize;
  cursor: pointer;
  border-radius: 0.3rem;
}

button:hover {
  background-color: #3371c4;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
